{% extends "LiveApp/base.html" %}

{% block title %}EHPAD - à propos{% endblock %}

{% block content %}

<div class="container">
    <div class="sous-section">
        <h2> Une maison de retraite à la pointe de la technologie.</h2>
    </div>
    <section id="section4">
        <div class="cadre_info">            
            <p>Créé en 1465, notre EHPAD (Établissement d'Hébergement pour Personnes Âgées Dépendantes) est l'un des plus anciens établissements de ce type dans le monde.</p>
        </div>
    </section>
    <div class="sous-section">
        <h2>Nos services :</h2>
    </div>
    <section id="section5">
        <div class="cadre_info">
            <p>L'EHPAD propose des chambres spacieuses et bien aménagées, offrant un environnement agréable et sécurisé pour nos résidents. </p>
        </div>
        <div class="cadre_info">
            <p>
                Nous disposons d'une équipe médicale compétente, comprenant des médecins, des infirmières et des aides-soignants, qui veillent à la santé et au bien-être de nos résidents. Des soins personnalisés sont prodigués en fonction des besoins individuels.
            </p>        
        </div>
        <div class="cadre_info">
            <p>
                Nous assurons une assistance quotidienne pour les tâches telles que l'hygiène personnelle, la gestion des médicaments, la mobilité et d'autres activités essentielles.
            </p>        
        </div>
        <div class="cadre_info">
            <p>
                Nous collaborons avec des professionnels de la santé tels que des kinésithérapeutes, des ergothérapeutes et des orthophonistes pour offrir des séances de rééducation et de suivi médical adaptées aux besoins des résidents.
            </p>      
        </div>
    </section>
    <div class="sous-section">
        <h2>Nos atouts :</h2>
    </div>

    <section id="section6">
        <div class="cadre_info">
            <p>Notre EHPAD bénéficie d'une longue histoire et d'une tradition d'excellence dans les soins aux personnes âgées. Nous sommes fiers de perpétuer cette tradition et d'offrir un environnement chaleureux et familial.</p>
        </div>
        <div class="cadre_info">
            <p>
                Notre équipe de professionnels possède une vaste expertise dans le domaine des soins aux personnes âgées, acquise au fil des siècles. Nous sommes engagés à fournir des soins de qualité supérieure, en nous adaptant constamment aux évolutions et aux besoins changeants.
            </p>        
        </div>
        <div class="cadre_info">
            <p>
                Cadre de vie exceptionnel : Situé dans un environnement paisible et verdoyant, notre EHPAD offre un cadre de vie exceptionnel, propice à la tranquillité et à la détente.            </p>        
        </div>
        
    </section>
</div>


{% endblock %}