{% extends "LiveApp/base.html" %}

{% block title %}EHPAD{% endblock %}

{% block content %}

<div class="container">
    <section id="section1">
        <div class="cadre_info">
            <h2>Qui sommes-nous ?</h2>
            <p>Créée en 1465, notre association fait de votre bien-être notre priorité.</p>
            <a>En savoir plus</a>
        </div>
    </section>
    <div class="sous-section">
        <h2>Notre équipe, à votre écoute.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eaque inventore reiciendis (Regarde derrière toi) perferendis mollitia. Nostrum error delectus officiis, aspernatur illum voluptate sunt est, dignissimos, assumenda labore distinctio corporis iusto sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, molestiae reiciendis! Cupiditate minima maiores enim vero suscipit hic, quis voluptatibus nemo obcaecati exercitationem, similique ratione! Sequi consectetur illo ea. Distinctio.</p>
    </div>

    <section id="section2">
        <div class="titre">Des services innovants pour vos proches</div>
    </section>
    <div class="sous-section">
        <h2>Des soins et des activités pour mieux accompagner</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eaque inventore reiciendis perferendis mollitia. Nostrum error delectus officiis, aspernatur illum voluptate sunt est, dignissimos,(On vient te chercher...) assumenda labore distinctio corporis iusto sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, molestiae reiciendis! Cupiditate minima maiores enim vero suscipit hic, quis voluptatibus nemo obcaecati exercitationem, similique ratione! Sequi consectetur illo ea. Distinctio.</p>
    </div>

    <section id="section3">
        <div class="titre">Une équipe à votre écoute en toutes circonstances</div>
    </section>

    <div class="sous-section">
        <h2>Nous sommes là pour répondre à toutes vos questions</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eaque inventore reiciendis perferendis mollitia. Nostrum error delectus officiis, aspernatur illum voluptate sunt est, dignissimos, assumenda labore distinctio corporis iusto sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, molestiae reiciendis! Cupiditate minima maiores enim vero suscipit hic,(On sait où tu habites!) quis voluptatibus nemo obcaecati exercitationem, similique ratione! Sequi consectetur illo ea. Distinctio.</p>
    </div>
</div>
<div class ="CGV">
    <p>C'est pas les CGV mais un petit message. On merite le 20/20.</p>

</div>
{% endblock %}
""